<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ลงทะเบียนผู้ใช้งาน</title>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
    <link href="../../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/css/sidebars.css" rel="stylesheet">
    <link href="../../assets/css/header.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
    <link href="../../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/css/sidebars.css" rel="stylesheet">
    <link href="../../assets/css/header.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <link href="../../assets/css/chart_admin.css" rel="stylesheet">

    <!-- Favicons -->
    <link href="../../assets/img/favicon.png" rel="icon">
    <link href="../../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <!-- Vendor CSS Files -->
    <link href="../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../../assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../../assets/css/main.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="../../assets/css/modal_generate.css" rel="stylesheet">

    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/locales/de_DE.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/geodata/germanyLow.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/fonts/notosans-sc.js"></script>
</head>


<body>
    <!-- ======= navbar ======= -->
    <script src="../../components/navbar-1.js"></script>
    <navbar_1-components></navbar_1-components>

    <!-- ======= hero ======= -->
    <script src="../../components/hero-1.js"></script>
    <hero_1-components></hero_1-components>

    <main id="main">
        <div class="container col-lg-8" style="box-shadow: 0px 5px 5px rgb(131, 131, 131); border: 1px solid rgb(192, 192, 192);">

            <button type="button" class="btn btn-success m-2" onclick="Restaurants();">
                <img src="https://cdn-icons-png.flaticon.com/512/4689/4689666.png"
                    width="40px">&nbsp;&nbsp;&nbsp;ร้านค้า
            </button>
            <button type="button" class="btn btn-success m-2" onclick="Managers();">
                <img src="https://cdn-icons-png.flaticon.com/512/4205/4205906.png"
                    width="40px">&nbsp;&nbsp;&nbsp;ผู้บริหาร
            </button>

            <div id="Restaurants" class="col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-12 mb-3">
                            <img src="https://cdn-icons-png.flaticon.com/512/4689/4689666.png" width="100px">
                        </div>
                        <div class="col-6">
                            <h4 class="mb-3">ร้านอาหาร:</h4>
                            <h4 class="mb-3">ชื่อผู้ใช้:</h4>
                            <h4 class="mb-3">รหัสผ่าน:</h4>
                            <h4 class="mb-3">ยืนยันรหัสผ่าน:</h4>
                        </div>
                        <div class="col-6">
                            <div class="dropdown mb-2">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    กรุณาเลือกร้านค้า
                                </button>
                                <ul id="resDrop" class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                </ul>
                            </div>

                            <input id="username" type="text" class="form-control mb-2" placeholder="กรอกชื่อผู้ใช้"
                                aria-label="Username">
                            <div class="input-group mb-2">
                                <input id="password" type="password" class="form-control" placeholder="กรอกรหัสผ่าน"
                                    aria-label="Password">
                                <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                                    <i class="fa-solid fa-eye"></i>
                                </button>
                            </div>

                            <div class="input-group mb-2">
                                <input id="confirmPassword" type="password" class="form-control"
                                    placeholder="กรอกรหัสผ่านอีกครั้ง" aria-label="Password">
                                <button class="btn btn-outline-secondary" type="button" id="toggleConfirmPassword">
                                    <i class="fa-solid fa-eye"></i>
                                </button>
                            </div>
                            <button type="button" class="btn btn-primary m-2" onclick="confirmation();">ลงทะเบียน
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="Managers" class="col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <img src="https://cdn-icons-png.flaticon.com/512/4205/4205906.png" width="100px">
                        </div>
                        
                        <div class="col-6">
                            <h4 class="mb-3">ชื่อ:</h4>
                            <h4 class="mb-3">ชื่อผู้ใช้:</h4>
                            <h4 class="mb-3">รหัสผ่าน:</h4>
                            <h4 class="mb-3">ยืนยันรหัสผ่าน:</h4>
                        </div>
                        <div class="col-6">
                            <input id="managerName" type="text" class="form-control mb-2"
                                placeholder="กรอกชื่อ - นามสกุล" aria-label="Username">
                            <input id="managerUsername" type="text" class="form-control mb-2"
                                placeholder="กรอกชื่อผู้ใช้" aria-label="Username">
                            <div class="input-group mb-2">
                                <input id="ManagerPassword" type="password" class="form-control"
                                    placeholder="กรอกรหัสผ่าน" aria-label="Password">
                                <button class="btn btn-outline-secondary" type="button" id="toggleManagerPassword">
                                    <i class="fa-solid fa-eye"></i>
                                </button>
                            </div>

                            <div class="input-group mb-2">
                                <input id="ManagerConfirmPassword" type="password" class="form-control"
                                    placeholder="กรอกรหัสผ่านอีกครั้ง" aria-label="Password">
                                <button class="btn btn-outline-secondary" type="button"
                                    id="toggleManagerConfirmPassword">
                                    <i class="fa-solid fa-eye"></i>
                                </button>
                            </div>
                            <button type="button" class="btn btn-primary m-2" onclick="confirmation2();">ลงทะเบียน
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <br>

    <!-- ======= Footer ======= -->
    <script src="../../components/footer.js"></script>
    <footer-components></footer-components>
    <!-- ======= End Footer ======= -->

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>



    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="../../assets/js/Chart_data.js"></script>
    <script src="../../assets/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="../../assets/demo/chart-area-demo.js"></script>
    <script src="../../assets/demo/chart-bar-demo.js"></script>
    <script src="../../assets/demo/chart-pie-demo.js"></script>
    <script src="../../assets/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Vendor JS Files -->
    <script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../assets/vendor/aos/aos.js"></script>
    <script src="../../assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../../assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="../../assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../../assets/vendor/php-email-form/validate.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Template Main JS File -->
    <script src="../../assets/js/main.js"></script>

</body>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="../../assets/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>
    window.onload = function () {
        $('#togglePassword').click(function () {
            var passwordInput = $('#password');
            var passwordToggle = $(this);
            if (passwordInput.attr('type') == 'password') {
                passwordInput.attr('type', 'text');
                passwordToggle.html('<i class="fa-solid fa-eye-slash"></i>');
            } else {
                passwordInput.attr('type', 'password');
                passwordToggle.html('<i class="fa-solid fa-eye"></i>');
            }
        });

        $('#toggleConfirmPassword').click(function () {
            var confirmPasswordInput = $('#confirmPassword');
            var confirmPasswordToggle = $(this);
            if (confirmPasswordInput.attr('type') == 'password') {
                confirmPasswordInput.attr('type', 'text');
                confirmPasswordToggle.html('<i class="fa-solid fa-eye-slash"></i>');
            } else {
                confirmPasswordInput.attr('type', 'password');
                confirmPasswordToggle.html('<i class="fa-solid fa-eye"></i>');
            }
        });
        $('#toggleManagerPassword').click(function () {
            var passwordInput = $('#ManagerPassword');
            var passwordToggle = $(this);
            if (passwordInput.attr('type') == 'password') {
                passwordInput.attr('type', 'text');
                passwordToggle.html('<i class="fa-solid fa-eye-slash"></i>');
            } else {
                passwordInput.attr('type', 'password');
                passwordToggle.html('<i class="fa-solid fa-eye"></i>');
            }
        });

        $('#toggleManagerConfirmPassword').click(function () {
            var confirmPasswordInput = $('#ManagerConfirmPassword');
            var confirmPasswordToggle = $(this);
            if (confirmPasswordInput.attr('type') == 'password') {
                confirmPasswordInput.attr('type', 'text');
                confirmPasswordToggle.html('<i class="fa-solid fa-eye-slash"></i>');
            } else {
                confirmPasswordInput.attr('type', 'password');
                confirmPasswordToggle.html('<i class="fa-solid fa-eye"></i>');
            }
        });

        if (localStorage.getItem("role") == "admin") {
            console.log("admin")
        } else if (localStorage.getItem("role") == "restaurant") {
            window.location.href = "./charts.html";
        } else if (localStorage.getItem("role") == "manager") {
            window.location.href = "./center.html";
        } else {
            localStorage.clear();
            window.location.href = "../../../../fainal-projectx/login.html";
        }
        document.getElementById("Restaurants").style.display = "block";
        document.getElementById("Managers").style.display = "none";
        setProfile();
        Restaurants();
    }

    function setProfile() {
        username = localStorage.getItem("username");
        name = localStorage.getItem("name").toUpperCase();
        document.getElementById("profileImg").src = `https://ui-avatars.com/api/?name=${username}&background=random&rounded=true&size=50`;
        document.getElementById("profileName").innerHTML = `${name}&nbsp;`;
    }

    function Restaurants() {
        document.getElementById("Restaurants").style.display = "block";
        document.getElementById("Managers").style.display = "none";
        renameDrop("กรุณาเลือกร้านค้า");
        $.ajax({
            url: "http://127.0.0.1:3000/admin",
            type: "GET",
            dataType: "json",
            success: function (data) {
                let resDrop = document.getElementById("resDrop");
                resDrop.innerHTML = "";
                for (let i = 0; i < data.length; i++) {
                    let res = data[i];
                    let option = document.createElement("li");
                    if (res.Status === "noRegis") {
                        option.innerHTML = `<a class="dropdown-item" href="#" onclick="renameDrop('${res.Name}');">${res.Name}</a>`;
                        resDrop.appendChild(option);
                    }
                }
            },
            error: function (data) {
                console.log(data);
            }
        }
        );
    }

    function Managers() {
        document.getElementById("Restaurants").style.display = "none";
        document.getElementById("Managers").style.display = "block";
    }

    function renameDrop(name) {
        let dropdownMenuButton1 = document.getElementById("dropdownMenuButton1");
        dropdownMenuButton1.innerHTML = name;
    }

    function confirmation() {
        const res = document.getElementById("dropdownMenuButton1").innerHTML;
        const user = document.getElementById("username").value;
        const password = document.getElementById("password").value;
        const confirmPassword = document.getElementById("confirmPassword").value;
        if (user == "" || res == "" || password == "" || res == "กรุณาเลือกร้านค้า") {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'กรุณากรอกข้อมูลให้ครบถ้วน',
            })
        } else if (password != confirmPassword) {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'รหัสผ่านไม่ตรงกัน',
            })
        } else {
            Swal.fire({
                title: 'ยืนยันการลงทะเบียน',
                text: "คุณต้องการลงทะเบียนใช่หรือไม่",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'ใช่',
                cancelButtonText: 'ไม่ใช่'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: "http://127.0.0.1:3000/register",
                        type: "POST",
                        data: {
                            r_name: res,
                            r_username: user,
                            r_password: password,
                            r_role: "restaurant"

                        },
                        success: function (data) {
                            if (data["status"] == "ok") {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'ลงทะเบียนสำเร็จ',
                                    showConfirmButton: false,
                                    timer: 1500
                                })
                                setTimeout(function () {
                                    window.location.reload();
                                }, 1500);
                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: 'มีชื่อผู้ใช้นี้อยู่ในระบบแล้ว'
                                })
                            }
                        },
                        error: function (err) {
                            console.log(err);
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'มีบางอย่างผิดพลาด',
                            })
                        }
                    })
                }
            })
        }
    }

    function confirmation2() {
        const name = document.getElementById("managerName").value;
        const user = document.getElementById("managerUsername").value;
        const password = document.getElementById("ManagerPassword").value;
        const confirmPassword = document.getElementById("ManagerConfirmPassword").value;
        if (name == "" || user == "" || password == "") {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'กรุณากรอกข้อมูลให้ครบถ้วน',
            })
        } else if (password != confirmPassword) {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'รหัสผ่านไม่ตรงกัน',
            })
        } else {
            Swal.fire({
                title: 'ยืนยันการลงทะเบียน',
                text: "คุณต้องการลงทะเบียนใช่หรือไม่",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'ใช่',
                cancelButtonText: 'ไม่ใช่'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: "http://127.0.0.1:3000/register",
                        type: "POST",
                        data: {
                            r_name: name,
                            r_username: user,
                            r_password: password,
                            r_role: "manager"

                        },
                        success: function (data) {
                            if (data["status"] == "ok") {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'ลงทะเบียนสำเร็จ',
                                    showConfirmButton: false,
                                    timer: 1500
                                })
                                setTimeout(function () {
                                    window.location.reload();
                                }, 1500);
                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: 'มีชื่อผู้ใช้นี้อยู่ในระบบแล้ว'
                                })
                            }
                        },
                        error: function (err) {
                            console.log(err);
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'มีบางอย่างผิดพลาด',
                            })
                        }
                    })
                }
            })
        }
    }

    function logout() {
        localStorage.clear();
        window.location.reload();
    }
</script>

</html>